body{
    background-color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
   }
   p{
    color: red;
   }
   button{
    background-color: rgb(133, 214, 154);
   }
   